html,
body {
  font-family: monospace, "Roboto", sans-serif;
  text-rendering: geometricPrecision;
  background-color: #e2ae2d;
}

.productImage {
  @media screen and (max-width: 767px) {
    max-height: 400px;
    object-fit: cover;
  }
}
